@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<p style="font-size: xx-large; margin: 20px;">@ViewBag.StatusCode</p>
<p style="font-size: x-large; margin: 20px;">Сайт может быть недоступен или вы попытались получить доступ к несуществующему ресурсу</p>